name: project
description: A new Flutter project.

publish_to: 'none'


version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_svg: ^0.23.0+1
  get: ^4.1.4
  cupertino_tabbar: ^2.0.0
  get_it: ^7.1.3
  flutter_staggered_grid_view: ^0.4.1
  equatable: ^2.0.3
  json_annotation: ^4.3.0
  material_segmented_control: ^3.1.2
  image_picker: ^0.8.4+3
  image_cropper: ^1.4.1




  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter



  flutter_lints: ^1.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/icons/
    - assets/images/


  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700

